html, body {
    height: 100%;
}
.root-element{
    display: flex;
  justify-content: center;
  height: 100%;
 

}
.divWrapper{
    display: flex;
    flex-direction: column;
   height: 800px;
   
}
.blockColor{
    border : 2px solid green;
   height: 600px;
   width: 600px;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   flex-direction: column;
  /*
   
   
    */
   
   
  
}


.div1, .div2, .div3, .div4 {
    
    border : 1px solid black;
    height: 300px;
    width: 300px;

 
  
}
